<&percnt;- include('../partials/header'); &percnt;>
<main>
 <div class="ui segment">
   <h1>At least we can see something now</h1>
   <p>This is visual of templating through EJS</p>
 </div>
</main>

<
footer >
  <&percnt;- include('../partials/footer'); &percnt;>
</footer>

  <
  /body> <
  /html>